main {
  padding-top: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.book-list--section > p {
  padding-bottom: 2rem;
  max-width: 120ch;
}

.book--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}
