/* 
  1. Global reset
  2. Variables
  3. Utility classes
*/

/* 1. Global reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* 2. Variables */
:root {
  --max-container-width: 90rem;
  --container-padding-x: 2rem;

  --primary-color: #00a96c;
}

/* Variables mobile override */
@media screen and (max-width: 480px) {
  :root {
    --container-padding-x: 1rem;
  }
}

/* 3. Utility classes */
.container,
footer,
header {
  max-width: var(--max-container-width);
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
}
